<%- include('../partials/header') %>
<body>
    <%- include('../partials/navbar') %>
    <div class="container">
        <% if (error) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %> 
              </div>
        <% } %>
        <hr>
            <h2>Categorias</h2>
            <hr>
            <a  href="/admin/categories/new" class="btn btn-outline-success"> Criar nova categoria</a>
        <table class="table table-striped">
            <thead >
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                    <% response.forEach(element => { %>
                        <tr>
                            <th>
                                <%= element.id_categorie %> 
                            </th>
                            <th>
                                <%= element.title %> 
                            </th>
                            <th>
                                <%= element.slug %> 
                            </th>
                            <th>
                                <a href="/admin/categories/search/<%= element.id_categorie %> " class="btn btn-outline-warning">Editar</a>
                                
                                <form action="/admin/categories/delete" method="POST" style="display: inline" onsubmit="confirmDelet(event, this)">
                                    <input type="hidden" name="id" value="<%= element.id_categorie %>">
                                    <button class="btn btn-outline-danger">Deletar</button>
                                </form>
                            </th>
                        </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
    
</body>
<%- include('../partials/footer') %></hr>
<script>
    const confirmDelet = (event, form) => {
        event.preventDefault();
        let response = confirm("Deseja realmente deletar?");
        if(response) form.submit();
    }
</script>