<%- include('../partials/header') %>
<body>
    <%- include('../partials/navbar') %>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Editar artigo</h2>
            </div>
            <div class="card-body">
                <form action="/admin/articles/update" method="POST">
                    <input type="hidden" value="<%= articles[0].id_article %>" name="id">
                    <input class="form-control" value="<%= articles[0].title %> " type="text" name="title" placeholder="Nome do artigo" required=true>
                    <br>
                    <input class="form-control" value="<%= articles[0].preview %>" type="text" name="preview" placeholder="Uma breve descrição" required=true>
                    <br>
                    <textarea id="article" name="article" class="form-control" placeholder="Escreva seu artigo"></textarea>
                    <br>
                    <label>Selecione uma categoria</label>
                    <select name="categorieId" class="form-control">
                       <% categories.map(categorie => { %>
                        <% if (categorie.id_categorie === articles[0].id_categorie) { %>
                            <option selected=true value="<%= categorie.id_categorie %> "><%= categorie.title %> </option>
                        <% } else { %>
                            <option value="<%= categorie.id_categorie %> "><%= categorie.title %> </option>
                        <% } %> 
                       <% }) %>
                    </select>
                    <br>
                    <button class="btn btn-outline-success">Atualizar</button>
                </form>
            </div>
            </div>
        </div>
            <div id="content" value='a' style="display: none;">
                <%= articles[0].article %> 
            </div>
        </body>
    </div>
<%- include('../partials/footer') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    const div = document.getElementById('content').textContent;
    tinymce.init({
        selector: "#article",
        language: "pt_BR",
        plugins:
         ['advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'],
         init_instance_callback: () => {
             tinymce.get("article").setContent(div);
         }
    });
</script>